header{
  position: fixed;
  width: 12%;
  top: 0;
  margin: 1rem;
  padding-top: 5px;
}

.background{
background-color: #fff8ea;
margin-right: 40px;
margin-left: 40px;
}


div{
  font-size: 34px;
  font-weight: bold;
  line-height: 2.3;
  letter-spacing: 0.2em;
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  padding-bottom: 3px;
}

.text{
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
  line-height: 0.8;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  text-align:center
}

.text2{
  font-size: 20px;
  margin-top: 50px;
  font-weight: bold;
  line-height: 0.8;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  text-align:center
}

.text3{
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
  line-height: 0.8;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  text-align:center
}

.content2{
  text-align: center;

}
.box1{
  background-color: white;
  font-size: 10px;
}

.box2{
  background-color: white;
  font-size: 10px;
}

.box3{
  background-color: white;
  font-size: 10px;
}
